/* #4 #sweat #external css file */

/* GLOBAL */

/* #4 #global styles*/

* {
    /* #4 use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

     /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

.flex-container {
    background-color: #F5F5F5;
    display:flex;
}

/* #4 # sweat #uppercase buttons and w3w locations */
button, strong {
    text-transform: uppercase;
}

.flex-container #channels{
    position: absolute;
    height:100%;
    width:40%; 
    left:0px;
    top:56px;
    
}

.flex-container #chat{
    position: absolute;
    height:100%;
    width:60%;
    right:0px;
    
}

/* style="right:16px;top:12px;height:32px;width:32px;\" */

#chat .app-bar img{
    right:16px;
    top:12px;
    height:32px;
    width:32px;

}


/* APP BAR */
/* reused styles
height
font size/ weight
spacing */

/* #4 #sweat address both #app-bar s */
.app-bar {
    background-color: #3F51B5;
    color: white;
    height:56px;
    line-height: 56px;
    position:fixed;
    box-sizing: border-box;
    top:0px;
    width:inherit;
    
    
}


.app-bar img{
    position:fixed;
    margin-left:16px;
    margin-right:16px;
    top:8px;  
    height: 48px;
    
}

.app-bar .app-title{
    position:fixed;
    left:72px;
}

/* CHANNELS LIST */

/* #4 #sweat #channels */
.channel-names
{
    overflow: auto;
    position:fixed;
    width:inherit;
   
    top:56px;
    bottom:72px;
}
 ul {
    /* #3 #channels #list modifies h2 to ul */
    background-color: white;
    /* #3 #channels #bullets removed */
    list-style-type: none;
    
    
   
}

.channel-meta{
    position: absolute;
    right:0px;
    vertical-align: middle;
}

li {
    /* #4 #channel #tile geometry */
    
    height: 48px;
    padding: 16px;
    font-size: 16px;
    /* #4 #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5;
}

/* #4 active #channel is #highlighted */
li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

li img {
    /* #4 #middle vertical alignment of icons in the #channels list */
    vertical-align: middle;
}

/* TAB BAR */

/* #4 #sweat #tab-bar */
#tab-bar,#chat-bar {
    /* #3 #tab-bar #container should be white */
    background-color: white; 
    /* #3 #tab-bar #container has all buttons centered */
    text-align: center;
    
    position:fixed; 
    bottom:0px;
    
    
    box-sizing:border-box;
    width:inherit;
    height:72px;

    display:flex;
    justify-content: space-between; 

}

#chat-bar button {
    display: flex;
    align-self: flex-end;

    
    background-color: white;
    border: none;
    position: relative;
    left: 16px;
    bottom:16px;
}

/* #4 add styles to #tab-bar #buttons */
#tab-bar button {
    background-color: white;
    border: none;
    font-size: 13px;

    /* #4 #tab-bar buttons have a width of #one-third of the available space */
    width: 33%;
    height: 72px;
    padding: 16px;
}

#emojis{
    /* #5 #smileys #emojis menu */
    /* colors and borders */
    background-color:white;
    border: 1px solid black;

    /* size & alignment */
    position: absolute;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    left: 16px;
    top: -284px;
    padding: 16px;

    /* font and left-align text */
    text-align: left;
    font-size: 28px;

    /* scroll when it has too many emojis */
    overflow-y: auto;

    /* #6 #hide the #smile menu */
    display: none;
}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */
#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */
#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}


/* overflow: auto;
    position:fixed;
    width:inherit;
   
    top:56px;
    bottom:72px;

    */

/* MESSAGES */
.messages{
    position:fixed;
    box-sizing: border-box;
    top:56px;
    width:inherit;
    bottom:72px;
    overflow: auto;
    
    
}

/* #4 select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */
.message {
    /* #3 #chat #width*/
    width: 80%;

    /* #4 align all #messages using #margins */
    margin-left: 2.5%;

    /* #4 #message distance to next message container*/
    margin-bottom: 8px;

    display:inline-block;
    
    
    
}


.message h3 {
    font-size: medium;
}

.message h3 .url{
    width:260px;
}

.message h3 .time-left{
    width:100px;
}

.message h3 em {
    font-size: larger;
    font-style: normal;
    
}

.message h3 a {
    /* #3 #chat #link color is primary text */
    color: black;
    
}

.message h3{
    display:flex;
    justify-content: space-between;
}




.message p {
    background-color: white;
    padding: 16px;
    display:flex;
    justify-content: space-between;
}

.message button {
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
    text-align: center;
    /* button has relative position 
       therefore used top and left to match 
       solution 
        */
    position: relative;
    top:8px;
    left:8px;  
}

/* #4 left align own #messages using #margins */
.message.own {
    margin-left: 17.5%;
}

